html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*General*/

.container:not(#home) {
    padding-top: 100px;
}


/*Login*/

#formWrapper {
    padding-top: 100px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#formWrapper form {
    width: 25rem;
}

#formWrapper form img {
    width: 100%;
}

/* Navbar */

.navbar-nav {
    flex-direction: row;
}

.nav-item.nav-link {
    display:inline;
}

/*Home*/

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin: 0;
}

/* Custom Background */
.bg-royal {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
